// Colores Cinephile
$cyan: #00f4fe;
$rosa: #fface8;
$azul-bg: #0d0b1f;
$gris: #7d92b1;
$white-soft: #e2e0fc;

// Fuentes
$font-main: "Spline Sans", sans-serif;
$font-alt: "Be Vietnam Pro", sans-serif;
