@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;600;700&family=Be+Vietnam+Pro:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Spline+Sans:wght@300..700&display=swap");

$cyan: #00F4FE;
$rosa: #FFACE8;
$azul: #0D0B1F;
$gris: #7D92B1;
$blanco: #E2E0FC;
$fucsia: #DF00C8;

$card-bg: rgba(255, 255, 255, 0.05);
$border: rgba(255, 255, 255, 0.1);

$font-body: 'Be Vietnam Pro', sans-serif;
$font-title: 'Spline Sans', sans-serif;
