$cyan: #00F4FE;
$rosa: #FFACE8;
$azul: #0D0B1F;
$gris: #7D92B1;
$blanco: #E2E0FC;
$fucsia: #DF00C8;

$card-bg: rgba(255, 255, 255, 0.05);
$border: rgba(255, 255, 255, 0.1);

$font-body: 'Be Vietnam Pro', sans-serif;
$font-title: 'Spline Sans', sans-serif;