@use './styles/variables' as *;
@use './styles/Header.scss';
@use './styles/Navbar.scss';
@use './styles/Login.scss';
@use './styles/Footer.scss';
@use './styles/Home.scss';
@use './styles/Contact.scss';

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    font-family: $font-body;
    background-color: $azul;

}